html
    head    
        link(rel='stylesheet', href='/assets/iframe.css')
    body
        span#apiKey(hidden)= apiKey
        div.outer
            div.container
                div.signature
                    img.userImage(src="/assets/default.png", alt="Signature")

        script(src="/lib/jquery.min.js")
        script(src="/lib/underscore.js")
        script(src="/iframe.js")
        script.
            localStorage.getItem('vurify:vurify_vendor_key6')
            .done(function(id){
                if(id === null){
                    let userKey = "787387878235dfdf5"
                    let apiKey = $("#apiKey").text()
                    localStorage.setItem('vurify:vurify_vendor_key6', `${apiKey}:${userKey}`)
                    console.log("written", `${apiKey}:${userKey}`)
                }
                else {
                    // TODO: load image from id
                    $("userImage").src = "/assets/default.png"
                    console.log("read", id)
                }
            });

